version: "3.9"

services:
  comfyui:
    build: .
    container_name: comfyui
    ports:
      - "8188:8188"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - C:/YT_Automation/comfy_docker/comfy_data/models:/app/models
